@page "/myteapp"

@using DotNetCoreMyTeApp.Data
@inject MyTimeTrackingService myTimeTrackingService

<PageTitle>My Time Tracking</PageTitle>

<h1>MY Time Tracking</h1>

<div class="container mt-5" id="myTeForm">
    <form>
        <div class="mb-3">
            <label for="exampleInputText" class="form-label">Name</label>
            <p>@userDefaultTimeTracking?.Name</p>
        </div>
        <div class="mb-3">
            <label for="exampleInputText" class="form-label">Email Address</label>
            <p>@userDefaultTimeTracking?.Email</p>
        </div>
        <div class="mb-3">
            <label for="exampleInputText" class="form-label">Hours</label>
            <input type="text" @bind="Hours" class="form-control" id="userHours" placeholder="Enter your Hours worked" />
        </div>
        <div class="mb-3">
            <label>Work Types</label>
        </div>
        <div class="mb-3">
            @if (userDefaultTimeTracking?.WorkTypes != null && userDefaultTimeTracking?.WorkTypes.Count > 0)
            {
                <select class="form-select" @bind="UserWorkType">
                    @foreach (var workType in userDefaultTimeTracking.WorkTypes)
                    {
                        <option value="@workType">@workType</option>
                    }
                </select>
            }
        </div>
        <div class="mb-3">
            <label>Project Codes</label>
        </div>
        <div class="mb-3">
            @if (userDefaultTimeTracking?.ProjectCodes != null && userDefaultTimeTracking?.ProjectCodes.Count > 0)
            {
                <select class="form-select" @bind="UserProjectCode">
                    @foreach (var projectCode in userDefaultTimeTracking.ProjectCodes)
                    {
                        <option value="@projectCode">@projectCode</option>
                    }
                </select>
            }
        </div>
        <div class="mb-3">
            <label>Description</label>
        </div>
        <div class="mb-3">
            @if (userDefaultTimeTracking?.Descriptions != null && userDefaultTimeTracking?.Descriptions.Count > 0)
            {
                <select class="form-select" @bind="UserDescription">
                    @foreach (var description in userDefaultTimeTracking.Descriptions)
                    {
                        <option value="@description">@description</option>
                    }
                </select>
            }
        </div>
    </form>
</div>
<div class="container mt-3">
    <button type="button" class="btn btn-primary" @onclick="SaveUserMyTimeData">Submit</button> 
</div>

@code{
    private MyTimeTracking? userDefaultTimeTracking;
    private MyTimeTracking? userEnteredTimeTracking;
    private string? UserName {get; set;}
    private string? Email {get; set;}
    private string? UserWorkType {get; set;}
    private string? UserDescription {get; set;}
    private string? UserProjectCode { get; set;}
    private decimal? Hours {get; set;}
    private DateTime? Date { get; set; }

    protected override async Task OnInitializedAsync()
    {
        userDefaultTimeTracking = await myTimeTrackingService.GetMyTeDataByUserForInput("aUser");
    }

    protected void SaveUserMyTimeData()
    {
        MyTimeTracking userMyTimeTrackingInput = new MyTimeTracking(){
            Name = UserName,
            Email = Email,
            UserWorkType = UserWorkType,
            UserDescription = UserDescription,
            UserHours = Hours,
            UserProjectCode = UserProjectCode,
            UserRecordedDate = Date
        };
    }
}